@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    Firstname : @ViewBag.Firstname
    <br />
    Lastname : @ViewBag.Lastname
    <br />
    Adress: @ViewBag.Adress
    <br />
    Birth Date: @ViewBag.Birthday
    <br />
    Gender: @ViewBag.Gender
   <br />
   E-mail: @ViewBag.email



</div>